SERVER_HOST=127.0.0.1
SERVER_PORT=7000
PG_DSN=postgresql+asyncpg://fast_pay_admin:Billing123@localhost:5432/fast_pay_db
DB_NAME=fast_pay_db
DB_USER=fast_pay_admin
DB_PASSWORD=Billing123
DB_HOST=db_pay
DB_PORT=5433
AUTH_HOST=127.0.0.1
AUTH_PORT=7070
API_KEY=5749821695e58169af022b1efa130922cf5a1fec
AMQP_DSN=amqp://guest:guest@127.0.0.1:5672/