SERVER_HOST=127.0.0.1
SERVER_PORT=7070
PG_DSN=postgresql+asyncpg://fast_auth_admin:Billing123@localhost:5432/fast_auth_db
DB_NAME=fast_auth_db
DB_USER=fast_auth_admin
DB_PASSWORD=Billing123
DB_HOST=db_auth
DB_PORT=5432
JWT_SECRET=nf4m3msaVtdhsi3l3ACQB8G-u2_id4tjheC4M0wOH7M
JWT_ALGORITHM=HS256
JWT_ACCESS_EXPIRATION=60
JWT_REFRESH_EXPIRATION=300
API_KEY=5749821695e58169af022b1efa130922cf5a1fec
PAYMENTS_HOST=127.0.0.1
PAYMENTS_PORT=7000
AMQP_DSN=amqp://guest:guest@127.0.0.1:5672/