SECRET_KEY='v)35ywxk3uq&m6w&^yi#^ysk9vdr=shr*c4-x-je*ep3lb_*jm'
DJANGO_SETTINGS_MODULE=messages_app.settings
DEBUG=True
ALLOWED_HOSTS=localhost 127.0.0.1 [::1]
DB_NAME=messages_db
DB_USER=messages_admin
DB_PASSWORD=Billing123
DB_HOST=db_messages
UI_HOST=127.0.0.1
UI_PORT=8088
MQ_HOST=broker
CHANNELS_HOST=redis
API_HOST='https://probe.fbrq.cloud/v1/send/'
API_KEY='eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjE3Mzg3NjgyNjUsImlzcyI6ImZhYnJpcXVlIiwibmFtZSI6Imh0dHBzOi8vdC5tZS9teXRvbmd1ZXMifQ.Z5mzGzeVyr_Pfc7tRpAfIEa5QHgAr9OEHhv7JFFzalg'
LOG_FILE=./messages_app.log
LOG_LEVEL=INFO
CLIENT_ID=XIHDV83B
CLIENT_SECRET=fvml5ABppcHgyFBqriGOXHV3
PROTUS_API_HOST=backend_protus_gate
PROTUS_API_PORT=7077
PROTUS_UI_HOST=127.0.0.1
PROTUS_UI_PORT=8080
WEBHOOK_SECRET=wh_$2b$1flBcyqGH
LAUNCH_CAMPAIGN_SERVICE_ID='SERV_a2Ijd7dfGrs'
ADD_CUSTOMER_SERVICE_ID='SERV_Kz5H33nArsd'